.desktop-only .main-footer {
    background: linear-gradient(to right, 
    rgba(18, 18, 32, 0.98) 25%, 
    rgba(18, 18, 32, 0.6) 50%, 
    transparent 100%);
    padding: 10px 8%;
    border-top: 1px solid #333;
    flex-shrink: 0;
    height: 8vh;
}
.desktop-only .main-footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.desktop-only .main-footer .footer-top .footer-info{
    display: flex;
    align-items: center;
    gap: 40px;
}
.desktop-only .footer-nav, .desktop-only .footer-legal{
    display: flex;
    gap: 25px;
    list-style: none;
}
.desktop-only .footer-logo-img{
    height: 50px;
}

.footer-info a {
    color: var(--text-gray);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-social { display: flex; gap: 15px; }
.footer-social a { font-size: 1.1rem; color: white; }
.footer-copyright { color: #666; font-size: 1rem; }

/* Estilos Footer Mobile */
.mobile-only .mobile-footer {
    border-top: 1px solid var(--primary-lila-m);
    padding: 15px 10px;
    background: var(--bg-dark-m);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.mobile-only .footer-links-main { display: flex; flex-direction: column; }
.mobile-only .footer-links-main a { font-size: 0.8rem; text-decoration: none; color: white; }
.mobile-only .about-us { color: var(--primary-lila-m) !important; font-weight: bold; }
.mobile-only .social-icons { display: flex; gap: 10px; }
.mobile-only .social-icons a {  color: var(--text-white); font-size: 1.1rem;}
.mobile-only .footer-legal { display: flex; flex-direction: column; text-align: right; }
.mobile-only .footer-legal a { color: var(--text-muted-m); text-decoration: none; font-size: 0.7rem; }
.mobile-only .copy { text-align: center; padding: 10px 0;}
.mobile-only .copyright { color: #64748b; font-size: 0.75rem; }